@charset "UTF-8";
 
@font-face {
    font-family:idroid ;
    src: url(fontes/idroid.otf);
}
@font-face {
    font-family:Bebas Neue ;
    src: url(fontes/BebasNeue-Regular.ttf);
}

* {
    margin: 0px;
    margin: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebe5c5;
    margin: 0px;
    
}
header {
    min-width: 450px;
    background-image: linear-gradient(to bottom, #2fa866,#063d1e);
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    
}
header > h1  {
    font-family:Bebas Neue;
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.287);
    
}


p.titulo1 {
    color: rgb(255, 255, 255);
    max-width: 600px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);
    text-align: center;
}

nav {
    padding: 10px;
}

nav > a{
    text-align: center;
    text-decoration: none;
    color:#83e1ad ;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}

nav > a:hover {
    color:#063D1E;
    background-color:#83e1ad;
    transition-duration: 0.3s;
    border-radius: 4px;
    padding: 9.5px;
    margin: auto;
}


main {
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

source.picture {
   width: auto;
   padding: 40px 20;
}




/*
main {
    padding: 20px;
    background-color: white;
    margin: 0px 100px 5px 100px;
}
*/

article > h1 {
    font-family: idroid;
    margin: auto;
    color: #063d1e;
    font-weight: normal; 
}
p {
    text-indent: 30px;
    line-height: 2em;
    text-align: justify; 
}
strong {
    color:#1a5c37; ;
}
h2 {
    font-family: idroid;
    background-image: linear-gradient(to right, #83e1ad,rgba(255, 0, 0, 0));
    color: #1a5c37;
    font-weight: lighter;
}

h2 > p {
    text-indent: 30px;
}

a.links {
    color: #063d1e;
    background-color: #83e1ad;
    text-decoration: none;
    padding:0px 3px 0px 3px ;
}
a.links:hover {
    text-decoration: underline;
    
}

a.links::after {
    content: '\00A0\1F517';
}


div {
    display: flex; /* O melhor truque para iframes responsivos, por enquanto, é criar uma caixa de relação de aspecto — mais conhecida como aspect ratio box. Primeiro, é preciso um elemento-pai com posicionamento relativo. O iframe é o elemento-filho dentro do qual você aplica o posicionamento absoluto para preencher a área.26 de ago. de 2019/// li isso num site e consegui fazer */
    margin: auto;
    background-color:#063d1e;
    padding: 25px;
    margin: 0px -20px 30px -20px;
}



div > iframe#video {
    margin: auto;
    display: flex; 
    
}

img#bugdroid {
    display: block;
    margin: auto;
}


aside > h3 {
    color: white;
    background-color: #063d1e;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

aside {   
    background-color: #83e1ad;
    border-radius: 5px;
    margin: auto;
}

p.artigo {
    padding: 10px;
    text-align: justify;
}

 ul {
    columns: 2;
    list-style: none;
    list-style-type: '\2714\00A0\00A0';
    
 }

 a#link2 {
        color: #032211;
        text-decoration: none;
        padding:0px 3px 0px 3px ;
        
 }
 a#link2:hover {
     text-decoration: underline;
     
 }

 a#link2::after {
    content: '\00A0\1F517';
}

footer {
    display: block;
    margin: auto;
    font-size: 13px;
    background-color:#063d1e ;
    color: white;
    width: 100%;
    margin-right: 50px;
}

footer > p {
    text-align: center;
}